/* Title section */

#title{
    text-align: center;
    padding: 5% 7% 1%;
    background-color: darkgrey;
}

h1{
    font-family: "Montserrat Black";
}

.titlebar{
    font-size: 23px;
}

/* Cards section */

@media (max-width: 991px){
    .columnstyle{
        padding-bottom: 5%;}
}

#cards{
    padding: 5% 7% 5%;
    background-color:darkgray;
}

.card-img-top{
    height: 20rem;
}

